@mixin font($f, $s, $w, $size, $c) {
  font-family: $f;
  font-style: $s;
  font-weight: $w;
  font-size: $size;
  color: $c;
}

.gallery_page {
  //   margin-top: 40px;
  //   margin: 40px 20px 0px;

  .top_header {
    display: flex;
    justify-content: center;
    @include font("Quicksand", nans-serif, 700, 40px, rgb(0, 0, 0));
    margin-top: 40px;
  }
  .top_header_sub{
    display: flex;
    justify-content: center;
    @include font("Quicksand", nans-serif, 600, 17px, rgb(0, 0, 0,0.6));
  }
  .top_nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 15px;
    align-items: baseline;
    margin-bottom: -10px;
    .search {
      display: flex;
      align-items: baseline;
      .select_sort {
        .css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input {
          padding: 4px 0px 4px;
        }
      }
      label {
        @include font(Noto Sans JP, sans-serif, 200, 12px, black);
      }
      ::after {
        display: none;
      }
      ::before {
        display: none;
      }
      .search_input {
        margin-right: 3px;
      }
    }
    .filters {
      @include font("Quicksand", nans-serif, 200, 14px, rgb(0, 0, 0));
      cursor: pointer;
    }
  }
  .gallery_display_page {
    width: 100%;
    display: flex;
    .gallery_side_nav {
      @include font("Quicksand", nans-serif, 200, 14px, rgb(0, 0, 0));
      nav {
        span {
          @include font("Quicksand", nans-serif, 200, 14px, rgb(0, 0, 0));
        }
      }
    }
    .gallery_image_display {
      // background-color: rgba(0, 0, 0, 0.092);
      min-height: 100vh;
      transition: 500ms;
      margin-left: 10px;
      .image-grid {
        padding: 0px 40px;
        margin-top: 40px;
       .grid_container{
         span{
           width: 100%;
         }
         .grid_image{
           width: 100%;
           height: 220px;
           border-radius: 7px;
           cursor: pointer;
         }
         &:hover{
          transition: filter 0.5s;
           filter: brightness(0.6);
         }
       }
       .grid_image_details{
         display: flex;
         align-items: center;
         justify-content: space-between;
         margin-top: 10px;
         .profile{
           display: flex;
           align-items: center;
           .detail_profile{
             border-radius: 50%;
             width: 25px;
             margin-right: 3px
           }
           .detail_name{
            @include font("Quicksand", nans-serif, 500, 15px, rgb(0, 0, 0));
           }
           .detail_likes{
            @include font("Quicksand", nans-serif, 500, 15px, rgb(0, 0, 0));
          
           }
         }
       }
      }
    }
  }
}

@media (max-width:600px) {
  .gallery_page .top_header_sub{
    font-size: 14px;
  }
}