@mixin font($f, $s, $w, $size, $c) {
    font-family: $f;
    font-style: $s;
    font-weight: $w;
    font-size: $size;
    color: $c;
  }
  
.profile_image_container {
    // width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .image_wrapper {
      width: 90%;
      height: 70vh;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
      margin-top: 35px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .cover_profile {
        width: 100%;
        height: 85%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        transition: 0.5s;
        filter: brightness(0.8);
        background-color: hwb(0 0% 100% / 0.153);
      }
      .main_cover_true {
        width: 100%;
        height: 75%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        transition: 0.5s;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        filter: brightness(0.5);
      }
      .profile_btn_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        transform: translateY(-60px);
        padding: 0px 20px;
        .main_profile {
          width: 120px;
          height: 120px;
          border-radius: 50%;
          border: 3px solid white;
          background-color: #00000027;
          img{
            width: 100%;
            height: 100%;
          }
        }
        .main_profile_true {
          width: 120px;
          height: 120px;
          border-radius: 50%;
          border: 3px solid white;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .upload_button {
          display: flex;
          justify-content: flex-end;
          .log-nav-main-btn {
            @include font(
              Quicksand,
              sans-serif,
              500,
              12px,
              rgba(255, 255, 255, 0.797)
            );
            width: 120px;
            height: 40px;
            background-color: rgba(58, 58, 58, 0.64);
            text-transform: none;
            cursor: pointer;
          }
        }
      }

      .profile_tabs {
        display: flex;
        justify-content: end;
        button {
          @include font(Quicksand, sans-serif, 400, 13px, rgb(0, 0, 0));
        }
        text-transform: none;
      }
      .profile_lil_details {
        margin: 0px 20px;
        margin-top: -45px;
        p:nth-child(1) {
          @include font(Quicksand, sans-serif, 500, 25px, rgb(0, 0, 0));
          letter-spacing: -0.5px;
          margin-bottom: 1px;
          text-transform: capitalize;
        }
        p:nth-child(2) {
          @include font(Comfortaa, sans-serif, 300, 13px, rgba(0, 0, 0, 0.617));
          letter-spacing: -0.5px;
          margin-bottom: 1px;
        }
      }
    }
    .uploads {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 15px;
      column-gap: 15px;
      width: 90%;
      margin: 50px 0px;
      .uploader {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border: 2px dashed rgba(0, 0, 0, 0.249);
        padding: 20px;
        border-radius: 5px;
        width: 100%;
        // height: 200px;
        .log-nav-main-btn {
          border: 1px solid #a52a2ade;
          @include font(Noto Sans JP, sans-serif, 400, 13px, white);
          width: 100px;
          height: 40px;
          margin: 0px 5px;
          background-color: rgba(165, 42, 42, 0.824);
          text-transform: none;
          &:hover {
            background-color: rgb(255, 255, 255);
            color: rgba(165, 42, 42, 1);
          }
        }
        .upload_text_one {
          @include font(Quicksand, sans-serif, 600, 15px, rgb(0, 0, 0));
        }
        .upload_text_two {
          @include font(Quicksand, sans-serif, 400, 13px, rgb(0, 0, 0));
        }
      }
      .uploaded {
        width: 100%;
        height: 200px;
        border-radius: 5px;
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.034),
          rgba(0, 0, 0, 0.009)
        );
      }
    }
    .go_collection {
      @include font(Quicksand, sans-serif, 400, 17px, rgb(0, 0, 0));
      margin-top: 50px;
      a {
        @include font(Quicksand, sans-serif, 400, 17px, rgba(165, 42, 42, 1));
        text-decoration: none;
      }
    }
    .liked_shot {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .like_gif {
        width: 70%;
        height: 400px;
      }
      .like_text_one {
        @include font(Quicksand, sans-serif, 600, 23px, rgb(0, 0, 0));
      }
      .like_text_two {
        @include font(Quicksand, sans-serif, 400, 15px, rgba(0, 0, 0, 0.667));
        text-align: center;
        width: 80%;
      }
    }
    .about {
      width: 90%;
      height: 60vh;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
        rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
      margin-top: 35px;
      border-radius: 5px;
      .about_head {
        @include font(Quicksand, sans-serif, 700, 16px, rgba(0, 0, 0, 0.667));
        border-bottom: 1px solid rgba(0, 0, 0, 0.0801);
        padding: 15px 20px;
        display: flex;
        flex-direction: column;
        justify-self: center;
        p {
          margin: 0%;
        }
      }
    }
    .about_details {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      .detail {
        display: flex;
        align-items: center;
        padding: 25px 20px;
        p {
          margin: 0%;
          padding-left: 10px;
        }
        cursor: pointer;
        transition: 0.5s;
        &:hover {
          background-color: rgba(0, 0, 0, 0.085);
        }
      }
    }
  }