@mixin font($f, $s, $w, $size, $c) {
  font-family: $f;
  font-style: $s;
  font-weight: $w;
  font-size: $size;
  color: $c;
}

.nav-container {
  display: flex;
  align-items: center;
  height: 85px;
  justify-content: space-between;
  padding: 10px 34px;
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 100;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0853);
  .nav-title {
    display: flex;
    align-items: center;
    .nav-title-text {
      @include font(Satisfy, cursive, 600, 34px, #33343d);
      margin-left: 5px;
      cursor: pointer;
    }
    .anim {
      z-index: 100;
      .anim-circle {
        width: 20px;
        height: 20px;
        background-color: rgba(165, 42, 42, 1);
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        // justify-content: center;
        .anim-circle-text {
          @include font(Satisfy, cursive, 600, 1px, #d7d8e1);
          margin-top: 10px;
          margin-right: 3px;
        }
      }
    }
  }
  .nav-links {
    ul {
      display: flex;
      align-items: center;
      margin-top: 1rem;
      .nav-container-link {
        list-style: none;
        margin: 0px 20px;
      }
      li {
        cursor: pointer;
        .link {
          text-decoration: none;
          transition: 0.5s;
          @include font(
            Noto Sans JP,
            sans-serif,
            600,
            15px,
            rgba(0, 0, 0, 0.583)
          );
          &:hover {
            color: rgba(165, 42, 42, 1);
          }
        }
      }
    }
  }
  .nav-buttons {
    align-items: center;
    .nav-btn-link {
      text-decoration: none;
      .nav-main-btn {
        border: 1px solid rgba(165, 42, 42, 1);
        @include font(Noto Sans JP, sans-serif, 400, 13px, white);
        width: 120px;
        height: 40px;
        margin: 0px 5px;
        background-color: rgba(165, 42, 42, 0.816);
        &:hover {
          background-color: rgb(255, 255, 255);
          color: rgba(165, 42, 42, 1);
        }
      }
    }
    .nav-search {
      margin: 0px 10px 0px 0px;

      .icon {
        padding: 10px;
        min-width: 40px;
        position: absolute;
      }

      .input-field {
        padding: 0px 35px;
        width: 145.03px;
        height: 40px;
        background: rgba(232, 229, 229, 0.619);
        border-radius: 5px;
        border: none;
        &::placeholder {
          @include font(Noto Sans JP, normal, 400, 14px, rgba(0, 0, 0, 0.4));
        }
      }

      .input-field:focus {
        outline: none !important;
        border: none;
      }
    }
    // .profile {
    //   display: flex;
    //   align-items: center;
    //   margin-right: 10px;
    //   .profile_name {
    //     @include font(Noto Sans JP, normal, 400, 12px, rgba(0, 0, 0, 0.7));
    //   }
      .profile_pics {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color: rgb(152, 129, 129);
        margin-right: 10px;
        cursor: pointer;
      }
    // }
    .log-nav-main-btn {
      border: 1px solid rgba(165, 42, 42, 0.872);
      @include font(Noto Sans JP, sans-serif, 400, 13px, white);
      width: 100px;
      height: 40px;
      margin: 0px 5px;
      background-color: rgba(165, 42, 42, 0.824);
      text-transform: none;
      &:hover {
        background-color: rgb(255, 255, 255);
        color: rgba(165, 42, 42, 1);
      }
    }
  }
  .logged_in_nav {
    display: flex;
    align-items: center;
  }
}
