@mixin font($f, $s, $w, $size, $c) {
  font-family: $f;
  font-style: $s;
  font-weight: $w;
  font-size: $size;
  color: $c;
}

.nav-slide-container {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .mainpage-logo{
    display: flex;
    align-items: center;
    .anim-circle{
        width: 20px;
        height: 20px;
        background-color: rgba(165, 42, 42, 1);
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .nav-title-text{
      @include font(Satisfy, cursive, 600, 34px, #33343d);
      margin-left: 5px;
      cursor: pointer;
    }
  }

  .nav-buttons {
    align-items: center;
    display: flex;
    width: 80%;
    justify-content: space-between;
    .nav-btn-link {
      text-decoration: none;
      .nav-main-btn {
        border: 1px solid rgba(165, 42, 42, 1);
        @include font(Noto Sans JP, sans-serif, 400, 13px, white);
        width: 120px;
        height: 40px;
        margin: 0px 5px;
        background-color: rgba(165, 42, 42, 0.816);
        &:hover {
          background-color: rgb(255, 255, 255);
          color: rgba(165, 42, 42, 1);
        }
      }
    }
    .nav-search {
      margin: 0px 10px 0px 0px;
      width: 60%;
      .icon {
        padding: 10px;
        min-width: 40px;
        position: absolute;
      }

      .input-field {
        padding: 0px 35px;
        width: 100%;
        height: 40px;
        background: rgba(232, 229, 229, 0.619);
        border-radius: 5px;
        border: none;
        &::placeholder {
          @include font(Noto Sans JP, normal, 400, 14px, rgba(0, 0, 0, 0.4));
        }
      }

      .input-field:focus {
        outline: none !important;
        border: none;
        cursor: default;
      }
    }
    // .profile {
    //   display: flex;
    //   align-items: center;
    //   margin-right: 10px;
    //   .profile_name {
    //     @include font(Noto Sans JP, normal, 400, 12px, rgba(0, 0, 0, 0.7));
    //   }
    .profile_pics {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      background-color: rgba(184, 171, 171, 0.729);
      margin-right: 10px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    // }
    .log-nav-main-btn {
      border: 1px solid rgba(165, 42, 42, 0.872);
      @include font(Noto Sans JP, sans-serif, 400, 13px, white);
      width: 100px;
      height: 40px;
      margin: 0px 5px;
      background-color: rgba(165, 42, 42, 0.824);
      text-transform: none;
      &:hover {
        background-color: rgb(255, 255, 255);
        color: rgba(165, 42, 42, 1);
      }
    }
  }
  
}
.nav-slide-links {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  .links {
    text-decoration: none;
    margin: 15px 30px;
    @include font(Noto Sans JP, sans-serif, 400, 17px, black);
    &:hover {
      color: rgba(165, 42, 42, 1);
    }
  }
  .btns {
    margin-left: 10px;
    .nav-slide-btn-link {
      text-decoration: none;
      .nav-btn {
        border: 1px solid rgba(165, 42, 42, 0.8);
        @include font(Noto Sans JP, sans-serif, 400, 13px, rgba(165, 42, 42, 0.8));
        margin: 0px 5px;
        width: 100px;
        height: 40px;
        text-transform: none;
      }
      .signup-btn {
        background-color: rgba(165, 42, 42, 1);
        color: white;
      }
    }
  }
}

.profile_left_navslide {
  // width: 20%;
  height: 89vh;
  padding-left: 34px;
  padding-top: 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.0801);
  border-bottom: 1px solid rgba(0, 0, 0, 0.0801);
  flex-direction: column;

  .left_nav_title {
    @include font(Quicksand, sans-serif, 600, 14px, rgba(0, 0, 0, 0.441));
    margin: 15px 0px;
  }
  .left_nav_link {
    @include font(Noto Sans JP, sans-serif, 300, 12px, rgb(0, 0, 0));
    margin: 10px 0px;
  }
}

.profile_right_navslide {
  // width: 20%;
  height: 85vh;
  padding-left: 34px;
  padding-top: 20px;
  border-left: 1px solid rgba(0, 0, 0, 0.0801);
  border-bottom: 1px solid rgba(0, 0, 0, 0.0801);

  flex-direction: column;
  .right_nav_title {
    @include font(Quicksand, sans-serif, 600, 14px, rgba(0, 0, 0, 0.441));
    margin: 15px 0px;
  }
  .page_following {
    display: flex;
    align-items: center;
    margin: 10px 0px;
    .page_name {
      @include font(Noto Sans JP, sans-serif, 300, 12px, rgb(0, 0, 0));
      margin: 0px 10px;
    }
  }
}